body
{
    text-align: center;
    background-color: bisque;
}

a
{
   width: 1000px;
   height: 50px;
   background-color: white;
   color: rgb(0, 187, 255);
   border: 2px solid black;
   font-size: 35px;
   border-radius: 15px;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border: 2px solid black;
    border-radius: 10px;
}
